<nz-layout>
    <nz-header>
        <div class="logo">Quizziz</div>
        <div class="loggedUser" *ngIf="_cs.loggedUser.Name">Hi, {{_cs.loggedUser.Name}}</div>
    </nz-header>
    <nz-content>
        <br>

        <div class="inner-content">
            <router-outlet>
            </router-outlet>
        </div>
    </nz-content>
    <nz-footer>Quiz App @2022 Tatvasoft</nz-footer>
</nz-layout>

<style>
    .example {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        z-index: 999999999;
        height: 1000px;
    }
    
    nz-spin {
        top: 50%;
    }
    
    .logo {
        width: 120px;
        height: 31px;
        float: left;
        color: #fff;
        font-size: large;
    }
    
    .loggedUser {
        width: 120px;
        height: 31px;
        float: right;
        color: #fff;
        font-size: large;
    }
    
    [nz-menu] {
        line-height: 64px;
    }
    
    nz-content {
        padding: 0 50px;
    }
    
    nz-footer {
        text-align: center;
    }
    
    .inner-content {
        background: #fff;
        padding: 24px;
        height: 100%;
    }
</style>